.logo {
  display:flex;
  flex-direction: column;  
  justify-content: flex-end;
  align-items: center;
  width:100%;
  height: 5dvh;
  border: 1px black solid;
  }
.info {
  height: 15dvh;
}

.game-number {
  padding-top:10px;
}

.words-solved {
  padding-top:10px;
}